body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header, .messages, .fields-container {
    padding: 15px 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
    box-shadow: 1px 1px 5px #ccc;
}

.messages-container {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    height: 100%;
}

.messages {
    max-height: 100%;
    overflow: auto;
}

.support-message p {
    background: #F2F2F2;
}

.user-message p {
    background: #DCF8C6;
}

.support-message p, .user-message p {
    display: none;
    padding: 1.5em;
    font-size: 1.5em;
}

.fields-container {
    width: 100%;
    background: #f2f2f2;
}

.fields-container .form-group {
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
}

.fields-container .form-group.multi {
    flex-wrap: wrap;
    justify-content: space-between;
}

.fields-container .field-group {
    width: 100%;
    margin-right: 30px;
    margin: 5px 30px 5px 0;
}

.fields-container .radio-group {
    background: #FFF;
    padding: 10px;
    margin: 10px 0;
}

.fields-container .radio-group input {
    display: none;
}

.fields-container .radio-group label {
    display: flex;
    margin-bottom: 0;
    font-weight: bold;
}
.fields-container .radio-group label .same-address {
    font-weight: normal;
    margin-left: 15px;
    color: #aaa;
}

.fields-container .button-group {
    display: flex;
    justify-content: flex-end;
}

.fields-container .button-group button {
    margin: 0;
}

.fields-container .radio-group .check {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #aaa;
    background: #FFF;
    box-shadow: inset 0 0 0 3px #fff;
    margin-right: 10px;
}

.fields-container .radio-group input:checked + label > .check {
    background: #0275d8;
}

.fields-container .form-group.multi .field-group {
    flex-basis: 30%;
}

.fields-container button {
    margin: 5px 30px 5px 0;
}

.fields-container input[type=text] {
    width: 100%;
}

.text-type-field {
    display: none;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-item {
    list-style: none;
}

.support-message p, .user-message p {
    position: relative;
    width: 40%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ccc;
}

.user-message {
    display: flex;
    justify-content: flex-end;
}

.support-message p .text {
    display: none;
}

.support-message p:before {
    content: '';
    display: none;
    background: url(../img/comment.gif);
    height: 52px;
    width: 52px;
}

.congras {
    width: 820px;
    margin: auto;
    font-weight: bold;
    padding: 5px;
    box-sizing: content-box;
}

.order {
    position: relative;
}

.order .order-title {
    background: #0275d8;
    color: #fff;
    padding: 5px;
    width: 200px;
    text-align: center;
}

.order .order-detail, .order input {
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
}

.order input:checked ~ .order-detail {
    display: block;
}

.bill {
    text-align: center;
    margin-top: 22px;
}

.bill .row {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 10px auto;
}

.support-message p.loading:before {
    display: block
}

/* TYPING */
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.typing {
    text-align: center;
    display: none;
}

.typing span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.typing span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.typing span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}